<html>
    <head>
        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
 <div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>
        
        <script src="vmodel.js"></script>
    </body>
</html>